/* ===================================
URALcoin ROULETTE DESIGN v4
=================================== */


.roulette-panel{
    width:100%;
    text-align:center;
}



#rouletteTimer{

    margin:15px;

    font-size:20px;

    font-weight:bold;

    color:#ffd700;

}




.roulette-wheel-box{

    width:340px;

    height:340px;

    margin:20px auto;

    display:flex;

    align-items:center;

    justify-content:center;

    position:relative;

}






#rouletteWheel{


width:320px;

height:320px;


border-radius:50%;


position:relative;


background:

conic-gradient(

#008000 0deg 9.7deg,

#b00000 9.7deg 19.4deg,

#111 19.4deg 29.1deg,

#b00000 29.1deg 38.8deg,

#111 38.8deg 48.5deg,

#b00000 48.5deg 58.2deg,

#111 58.2deg 67.9deg,

#b00000 67.9deg 77.6deg,

#111 77.6deg 87.3deg,

#b00000 87.3deg 97deg,

#111 97deg 106.7deg,

#b00000 106.7deg 116.4deg,

#111 116.4deg 126.1deg,

#b00000 126.1deg 135.8deg,

#111 135.8deg 145.5deg,

#b00000 145.5deg 155.2deg,

#111 155.2deg 164.9deg,

#b00000 164.9deg 174.6deg,

#111 174.6deg 184.3deg,

#b00000 184.3deg 194deg,

#111 194deg 203.7deg,

#b00000 203.7deg 213.4deg,

#111 213.4deg 223.1deg,

#b00000 223.1deg 232.8deg,

#111 232.8deg 242.5deg,

#b00000 242.5deg 252.2deg,

#111 252.2deg 261.9deg,

#b00000 261.9deg 271.6deg,

#111 271.6deg 281.3deg,

#b00000 281.3deg 291deg,

#111 291deg 300.7deg,

#b00000 300.7deg 310.4deg,

#111 310.4deg 320.1deg,

#b00000 320.1deg 329.8deg,

#111 329.8deg 339.5deg,

#b00000 339.5deg 349.2deg,

#111 349.2deg 360deg

);



border:10px solid #d4af37;


box-shadow:

0 0 40px gold,

inset 0 0 50px #000;



transition:

transform 5s cubic-bezier(.15,.8,.2,1);


}








.wheel-number{


position:absolute;


left:50%;

top:50%;



width:34px;

height:34px;



margin-left:-17px;

margin-top:-17px;



display:flex;


align-items:center;


justify-content:center;



border-radius:50%;



font-size:14px;


font-weight:900;



color:white;



border:2px solid #ffd700;



box-shadow:

0 0 10px rgba(255,215,0,.8);



z-index:5;



}





.wheel-number.red{

background:#b00000;

}



.wheel-number.black{

background:#050505;

}



.wheel-number.green{

background:#008000;

}








#rouletteWheel:after{


content:"";


position:absolute;



width:90px;

height:90px;



left:50%;

top:50%;



transform:translate(-50%,-50%);



background:

radial-gradient(

circle,

#fff0a0,

#b88600

);



border-radius:50%;



border:6px solid white;



box-shadow:

0 0 30px gold;



z-index:10;


}
