*{
box-sizing:border-box;
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,sans-serif;
}


body{
margin:0;
background:#fff;
color:#171717;
}


.app{
height:100vh;
width:100%;
background:#fff;
overflow:hidden;
position:relative;
}




/* страницы */

.page{

display:none;

height:calc(100vh - 95px);

padding:20px;

overflow-y:auto;

}


.page.active{

display:block;

}





/* верх */

.top{

text-align:center;

}


.top h1{

font-size:32px;

margin:10px 0;

font-weight:800;

letter-spacing:-1px;

}



.balance{

font-size:56px;

font-weight:800;

margin-top:25px;

}



.stats{

display:flex;

justify-content:center;

gap:12px;

margin-top:20px;

}


.stats span{

background:#fff8df;

color:#d89c00;

padding:10px 16px;

border-radius:20px;

font-size:15px;

font-weight:700;

}





/* кнопка U */


.coin{

width:260px;

height:260px;

margin:65px auto 35px;


border-radius:50%;


background:

radial-gradient(
circle at 30% 25%,
#fff7a8,
#ffd426 45%,
#f0aa00
);


border:8px solid #ffd23b;


display:flex;

align-items:center;

justify-content:center;


box-shadow:

0 20px 45px rgba(230,170,0,.35),

inset 0 0 20px rgba(255,255,255,.8);


transition:.15s;

}


.coin:active{

transform:scale(.94);

}



.u{

font-size:150px;

font-weight:900;

color:white;

text-shadow:

4px 5px 0 #d89900;

}






/* улучшение */


.upgrade h2{

font-size:24px;

}


.upgrade-card{

background:#f8f8f8;

border-radius:22px;

padding:20px;

display:flex;

justify-content:space-between;

align-items:center;

border:1px solid #eeeeee;

}


.upgrade-card button{

background:#ffc400;

border:none;

border-radius:16px;

padding:14px 22px;

font-size:17px;

font-weight:800;

}






/* карточки */


.card{

background:#f8f8f8;

border-radius:24px;

padding:22px;

margin-top:20px;

border:1px solid #ededed;

}



.card button{

width:100%;

background:#ffc400;

border:0;

border-radius:16px;

padding:16px;

font-size:17px;

font-weight:800;

margin-top:15px;

}





input{

width:100%;

height:55px;

border-radius:16px;

border:1px solid #ddd;

padding:0 18px;

font-size:17px;

margin-bottom:12px;

}






/* топы */


.player{

display:flex;

align-items:center;

gap:15px;

background:#f8f8f8;

border-radius:22px;

padding:15px;

margin-bottom:12px;

}


.place{

font-size:22px;

font-weight:800;

color:#e5aa00;

}


.avatar{

width:60px;

height:60px;

border-radius:50%;

background:#ffd000;

display:flex;

align-items:center;

justify-content:center;

font-size:28px;

font-weight:800;

}





/* Еще */


.menu-more a{

display:block;

text-decoration:none;

text-align:center;

background:#ffc400;

color:#111;

padding:16px;

border-radius:16px;

font-weight:800;

margin-top:12px;

}







/* нижнее меню */


nav{

position:absolute;

bottom:0;

left:0;

height:95px;

width:100%;


background:white;


border-top:1px solid #eeeeee;


display:flex;

align-items:center;

justify-content:space-around;


}



nav button{

background:none;

border:0;

font-size:14px;

font-weight:700;

color:#888;

padding:12px 8px;

position:relative;

}



nav button.active{

color:#e3a900;

}



nav button.active:after{

content:"";

position:absolute;

bottom:0;

left:25%;

width:50%;

height:3px;

background:#ffc400;

border-radius:10px;

}
